/* implementing css animation */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-60%); }
  80% {
    opacity: 0.8;
    transform: translateX(5%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(80%); }
  80% {
    opacity: 0.8;
    transform: translateX(-5%); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(80%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

*,
*::before,
*::after {
  /* setting reset settings*/
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*so it will inherit from the box sizing of the body for all element*/ }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 2rem;
  box-sizing: border-box;
  /*so that padding and borders do not contribute to the overall width of an element*/ }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 3rem;
    /* initializing animation */
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.74rem;
    /* initializing animation */
    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  text-transform: uppercase;
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(20deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-text-center {
  text-align: center; }

.u-m-bottom-big {
  margin-bottom: 8rem; }

.u-m-bottom-medium {
  margin-bottom: 4rem; }

.u-m-bottom-small {
  margin-bottom: 2rem; }

.u-m-top-huge {
  margin-top: 10rem; }

.header {
  height: 90vh;
  /* background-image: linear-gradient(to right, #7ed56f, #28b485),url(../img/hero.jpg) */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.698), rgba(40, 180, 133, 0.698)), url(../img/hero.jpg);
  /* gradient move from top left to bottom right*/
  background-size: cover;
  background-position: top;
  /* Top of the image stays the same as we crop the image*/
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    /* padding: 1rem; */
    top: 1.5rem;
    left: 1.5rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* relation to the element itself*/
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row [class^="col-"] {
    padding: 2rem;
    float: left;
    margin: 0 auto; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 8rem)/3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 8rem)/3) + 4rem); }
  .row .col-1-of-4 {
    width: calc((100% - 12rem)/4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 12rem)/4) + 4rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 12rem)/4) + (2*4rem)); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .3;
  overflow: hidden; }
  .bg-video__contect {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all .2s;
  border-radius: 100px;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    opacity: 0;
    transform: scale(1.5); }

.btn:active {
  transform: translateY(-1px);
  /*in relation to the original position not the hover position*/
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  color: #777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  color: #fff;
  background-color: #55c57a; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  /*this is compulsory for an after sudo element*/
  display: inline-block;
  /*this is compulsory for an after sudo element*/
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animate {
  animation: moveInDown .75s ease-out .75s;
  animation-fill-mode: backwards;
  /* apply the style of the zero percent before the animation starts*/ }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  text-decoration: none;
  font-size: 1.6rem;
  border-bottom: 1px solid #55c57a;
  padding-bottom: 3px;
  padding: 0 .3rem;
  display: inline-block;
  transition: all .2s; }

.btn-text:hover {
  color: #fff;
  background-color: #55c57a;
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 0.2rem rgba(119, 119, 119, 0.2); }

.btn-text:active {
  box-shadow: 0 0.3rem 0.1rem rgba(119, 119, 119, 0.2);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    position: absolute;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    z-index: 10;
    transition: all .2s;
    outline-offset: 1.5rem; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 5rem;
      right: 0; }
    .composition__photo--p3 {
      top: 12rem;
      right: 20%; }
    .composition__photo:hover {
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
      transform: scale(1.05) translateY(-1rem);
      outline: 1rem solid #55c57a;
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
  transition: all .2s; }
  .feature-box__icon {
    font-size: 7rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem); }

.form {
  width: 40%; }
  .form__group:not(:last-child) {
    padding-bottom: 2rem; }
  .form__field {
    font-size: 1.6rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    border: none;
    transition: all .2s;
    border-bottom: 3px solid transparent; }
    .form__field:focus {
      border-bottom: 3px solid #55c57a;
      outline: none;
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
      transform: translateY(-0.5rem); }
    .form__field:focus:invalid {
      border-bottom: 3px solid #ff4500; }
    .form__field::-webkit-input-placeholder {
      color: #999; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .2s; }
  .form__field:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4px); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 48rem; }
  .card__side {
    font-size: 2rem;
    height: 48rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.4); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      background-color: orangered;
      transform: rotateY(180deg); }
    .card__side--p1 {
      background-image: linear-gradient(to right bottom, rgba(255, 124, 75, 0.7), rgba(255, 69, 0, 0.7)); }
    .card__side--p2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)); }
    .card__side--p3 {
      background-image: linear-gradient(to right bottom, rgba(66, 54, 255, 0.7), rgba(2, 1, 193, 0.7)); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    height: 20rem;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--p1 {
      background-image: linear-gradient(to right bottom, #ff7c4b, #ff4500), url(../img/nat-5.jpg); }
    .card__picture--p2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--p3 {
      background-image: linear-gradient(to right bottom, #4236ff, #0201c1), url(../img/nat-7.jpg); }
  .card__text {
    position: absolute;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    top: 10rem;
    right: 2rem;
    text-align: right;
    color: #fff;
    width: 70%; }
  .card__text-break {
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__text-break--p1 {
      padding: .5rem .5rem;
      background-image: linear-gradient(to right bottom, rgba(255, 124, 75, 0.85), rgba(255, 69, 0, 0.85)); }
    .card__text-break--p2 {
      padding: .5rem .5rem;
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__text-break--p3 {
      padding: .5rem .5rem;
      background-image: linear-gradient(to right bottom, rgba(66, 54, 255, 0.85), rgba(2, 1, 193, 0.85)); }
  .card__detail ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .card__detail ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__detail ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;
    color: white; }
  .card__price-box {
    margin-bottom: 8rem; }
  .card__price-only {
    text-transform: uppercase;
    font-size: 1.5rem; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 200; }

.story {
  width: 75%;
  margin: 5rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 3rem;
  padding-left: 5rem;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story::after {
    content: "";
    display: table;
    clear: both; }
  .story__shape {
    width: 13rem;
    height: 13rem;
    float: left;
    overflow: hidden;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    background-size: cover;
    transform: translateX(-3rem) scale(1.3);
    backface-visibility: hidden;
    transition: all .2s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    text-align: center;
    font-size: 1.7rem;
    opacity: 0;
    transition: all .2s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    transform: translateX(-3rem) scale(1);
    filter: blur(3px) brightness(80%); }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -18vh; }

.section-features {
  padding: 12rem 0;
  transform: skewY(-7deg);
  margin-top: -10rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.698), rgba(40, 180, 133, 0.698)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  padding: 25rem 0 10rem 0;
  margin-top: -10rem;
  background-color: #eee; }

.section-stories {
  padding: 5rem 0;
  position: relative; }

.section-book {
  padding: 8rem 0;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url(../img/nat-10.jpg);
  height: 50rem;
  background-size: cover;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 4rem; }
