//COLOURS
// $color-primary: #55c57a;
// $color-primary-lighter: #7ed56f;
// $color-primary-darker: #28b485;
$color-primary: #f504ad;
$color-primary-lighter: #ff3399;
$color-primary-darker: #c20479;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-secondary: #ff6c36;
$color-secondary-darker: #ff4500;
$color-secondary-lighter: #ff7c4b;

$color-tertiary: #1000ff;
$color-tertiary-lighter: #4236ff;
$color-tertiary-darker: #0201c1;

$color-grey-light-1: #f7f7f7;

//FONTS
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-horizontal: 4rem;
$gutter-vertical: 4rem;