//COLOURS
$color-primary: #55c57a;
$color-primary-lighter: #7ed56f;
$color-primary-darker: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;

//GRID
$grid-width: 114rem;
$gutter-horizontal: 4rem;
$gutter-vertical: 4rem;